.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("/img/background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.square {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 70vw;
  height: 90vh;
  border: 1px solid rgba(255, 255, 255, 0.062);
  background-color: rgba(255, 255, 255, 0.219);
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}
